.myBtn {
  padding: 5px 15px;
  color: black;
  font-size: 14px;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s all;
}

.myBtn:hover {
  background-color: #000;
  color: #fff;
}
