.loaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed black;
  animation: rotate 4s infinite ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
