.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDiv {
  text-decoration: none;
  overflow: scroll;
  height: 150px;
  width: 400px;

  ul {
    list-style: none;

    li {
      background-color: #ddd;
    }
  }
}
