.header {
  grid-area: h;
  background-color: rgb(15, 5, 73);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  color: #fff;
}

.header img {
  width: 50px;
}

.loginLink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}

.loginLink:hover {
  opacity: 0.7;
}
