$black: #232323;
$background: #defdc1;
$gray-line: #f6f6f6;
$green: #1d9b47;
$bg-green: rgba(128, 255, 55, 0.05);
$container-width: 90%;
$duration: 0.15s;

$bg-darker: #cfcfcf;
$basic-light: #ebebeb;
