@import './../variables';

.categories {
  width: 100%;
  overflow: scroll;

  ul {
    display: flex;
    overflow: scroll;

    li {
      background-color: $basic-light;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      white-space: nowrap;
      inline-size: min-content;

      &:hover {
        background-color: darken($bg-darker, 2%);
      }

      &:active {
        background-color: darken($bg-darker, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
