.pagination {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 100%;
}

.selectedPage {
    font-size: 20px;
}

.pageNumber {
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}