REACT_APP_API_URL=CHANGE_HERE

// Firebase configuration

REACT_APP_API_KEY=CHANGE_HERE
REACT_APP_AUTH_DOMAIN=CHANGE_HERE
REACT_APP_PROJECT_ID=CHANGE_HERE
REACT_APP_STORAGE_BUCKET=CHANGE_HERE
REACT_APP_MESSAGING_SENDER_ID=CHANGE_HERE
REACT_APP_APP_ID=CHANGE_HERE

// To stop opening project in new window
BROWSER=none